@import url('https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap');
body{
  font-family: 'K2D', sans-serif;
}
header, nav{
  z-index: 10001 !important;

}
.subtitle{
  @apply text-red uppercase tracking-wide font-semibold text-lg;
}

.title{
  @apply text-4xl md:text-5xl md:leading-snug font-bold my-2
}

.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}